# Compiler files
cache/
out/
artifacts/

# Ignores development broadcast logs
broadcast/
broadcast/*/

# Docs
docs/

# Dotenv file
.env

# Coverage
lcov.info
coverage/

# Node
node_modules
.turbo
.pnpm-store
.next

compile.log
compile_out.txt
build_error.txt
compile_error.txt
test_output.txt

ESCROW.json
typechain-types/
test/